/*apply a natural box layout model to all elements but allowing components to change*/
html {
  box-sizing: border-box;

}

body {

}

*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper {
  position: relative;
    margin: auto;
    height:600px;
}

.circleS {
  position: relative;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: red;
  margin: auto;
}


.circleL {
  position: fixed;
  height: 30em;
  width: 30em;
  border-radius: 50%;
  background-color: orange;
  left: 20%;

}
